<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add an event for your dog!</title>
    <base href="/">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="create_event.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>
<div id="back_button">
    <a href="/users/dashboard" class="btn btn-lg btn-secondary">Back to dashboard</a>
</div>
<div id="header">
    <h2>What would you like to add for your dog?</h2>
</div>
<div id="displayarea">
    <div id="events">
            <div class="card" id="addFood" style="width: 18rem;">
                <img src="/images/dog_food_event.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Food</p>
                </div>
            </div>
            <div class="card" id="addWalk" style="width: 18rem;">
                <img src="/images/dog-walker.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Walk/Potty</p>
                </div>
              </div>
    </div>

<div id="events2container">
    <img id="foodArrow" class="backarrow" src="/images/back_button.png" width="40px" height="40px">
    <div id="events2">
        <div class="card" style="width: 18rem;" id="wetfood">
            <img src="/images/wet_food.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Wet food</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;" id="dryfood">
            <img src="/images/dry_food.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Dry food</p>
            </div>
          </div>
    </div>
</div>

<div id="events_food_wet_container">
    <img class="backarrow" id="food_wet_arrow" src="/images/back_button.png" width="40px" height="40px">
    <div id="events2">
    <form action="/users/dog_events/<%= id %>/create/food/wet/now" method="POST" id="form_wet_now">
        <div class="card" style="width: 18rem;" id="wet_now">
            <div class="card-body">
                <p class="card-text">My dog ate just now</p>
            </div>
        </div>
    </form>
        <div class="card" style="width: 18rem;" id="wetfoodate">
            <div class="card-body">
              <p class="card-text">My dog ate at specific time</p>
            </div>
        </div>
    </div>
</div>

<div id="events_food_wet_date_container">
    <img class="backarrow" id="food_wet_date_arrow" src="/images/back_button.png" width="40px" height="40px">
    <div id="events_food_wet_date">
    <form id="wet_food_datepicker" action="/users/dog_events/<%= id %>/create/food/wet/datepicker" method="POST">
        <input class="flatpickr" type="text" name="date" placeholder="Select a date..." id="date"></input>
        <button type="submit" value="Submit!">Submit</button>
        </form>
    </div>
</div>

<div id="events_food_dry_container">
    <img class="backarrow" id="food_dry_arrow" src="/images/back_button.png" width="40px" height="40px">
    <div id="events_food_dry">
    <form action="/users/dog_events/<%= id %>/create/food/dry/now" method="POST" id="form_dry_now">
        <div class="card" style="width: 18rem;" id="dry_now">
            <div class="card-body">
                <p class="card-text">My dog ate just now</p>
            </div>
        </div>
    </form>
        <div class="card" style="width: 18rem;" id="dry_date">
            <div class="card-body">
              <p class="card-text">My dog ate at specific time</p>
            </div>
        </div>
    </div>
</div>

<div id="events_food_dry_date_container">
    <img class="backarrow" id="food_dry_date_arrow" src="/images/back_button.png" width="40px" height="40px">
    <div id="events_food_dry_date">
    <form id="dry_food_datepicker" action="/users/dog_events/<%= id %>/create/food/dry/datepicker" method="POST">
        <input class="flatpickr" type="text" name="date" placeholder="Select a date..." id="date"></input>
        <button type="submit" value="Submit!">Submit</button>
        </form>
    </div>
</div>

<div id="events_potty_container">
    <img class="backarrow" id="events_potty_arrow" src="/images/back_button.png" width="40px" height="40px">
    <div id="events_potty">
    <form action="/users/dog_events/<%= id %>/create/food/wet/now" method="POST" id="form_wet_now">
        <div class="card" style="width: 18rem;" id="pee">
        <img src="/images/dog_pee.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Pee</p>
            </div>
        </div>
    </form>
        <div class="card" style="width: 18rem;" id="poop">
        <img src="/images/dog_poop.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Poop</p>
            </div>
        </div>
    </div>
</div>

<div id="events_potty_container_pee">
    <img class="backarrow" id="events_potty_pee_arrow" src="/images/back_button.png" width="40px" height="40px">
    <div id="events_pee">
    <form action="/users/dog_events/<%= id %>/create/potty/pee/now" method="POST" id="form_pee_now">
        <div class="card" style="width: 18rem;" id="pee_now">
            <div class="card-body">
                <p class="card-text">My dog peed just now</p>
            </div>
        </div>
    </form>
        <div class="card" style="width: 18rem;" id="pee_date">
            <div class="card-body">
              <p class="card-text">My dog peed at specific time</p>
            </div>
        </div>
    </div>
</div>

<div id="events_potty_pee_date_container">
    <img class="backarrow" id="potty_pee_date_arrow" src="/images/back_button.png" width="40px" height="40px">
    <div id="events_potty_pee_date">
    <form id="potty_pee_datepicker" action="/users/dog_events/<%= id %>/create/potty/pee/datepicker" method="POST">
        <input class="flatpickr" type="text" name="date" placeholder="Select a date..." id="date"></input>
        <button type="submit" value="Submit!">Submit</button>
        </form>
    </div>
</div>

<div id="events_potty_container_poo">
    <img class="backarrow" id="events_potty_poo_arrow" src="/images/back_button.png" width="40px" height="40px">
    <div id="events_poo">
    <form action="/users/dog_events/<%= id %>/create/potty/poop/now" method="POST" id="form_poo_now">
        <div class="card" style="width: 18rem;" id="poo_now">
            <div class="card-body">
                <p class="card-text">My dog pood just now</p>
            </div>
        </div>
    </form>
        <div class="card" style="width: 18rem;" id="poop_date">
            <div class="card-body">
              <p class="card-text">My dog pood at specific time</p>
            </div>
        </div>
    </div>
</div>

<div id="events_potty_poo_date_container">
    <img class="backarrow" id="potty_poo_date_arrow" src="/images/back_button.png" width="40px" height="40px">
    <div id="events_potty_poo_date">
    <form id="potty_poo_datepicker" action="/users/dog_events/<%= id %>/create/potty/poop/datepicker" method="POST">
        <input class="flatpickr" type="text" name="date" placeholder="Select a date..." id="date"></input>
        <button type="submit" value="Submit!">Submit</button>
        </form>
    </div>
</div>

</div>
<script src="events.js"></script>
</body>
</html>